    <div class="center">

        <div class="center">
            <h1>{{userInfo.greet_name}} has been greeted {{userInfo.greet_count}} time(s)</h1>
        </div>
        <br>
        <form action="/backToGreeted" method="get">
        <button type="submit" class="btn btn-warning" value="back">
            Back To Greeter
        </button>
    </form>

    </div>