<div class="row">
    <h1>Greeted Names</h1>
    <table>
        <tr>
        <th>Greet Name</th>
        <th>Greet Count</th>
        </tr>
{{#each greetedNames}}
<tr>
    <td>{{greeter}}</td>
    <td>{{counter}}</td>
</tr>
{{/each}}
    </table>
</div>