  <div class=row>
    <div class=col-12>
      <h1 class="col-12 center">GREETING</h1>
    </div>
  </div>
  <div class='row'>
    <form action="/greeting" method="POST" >
    <div class='col-12 center'>
      <h1> Name: <input type="text" name="personsName" class="personsName" value=""></h1>

      <span><input type="radio" class="lang1" name="myLang" value="isiXhosa"> isiXhosa</span>

      <span> <input type="radio" class="lang2" name="myLang" value="English"> English</span>

      <span> <input type="radio" class="lang3" name="myLang" value="Afrikaans"> Afrikaans</span>
      
      <br> <br> <input type="submit" class="greetBtn" value="Greet!">
      <input type="submit" class="resetBtn" value="Clear!">
    </div>
  </div>
  <div class='row'>
    <div class='col-12 center'>
    <p class='msg'></p>
      <p class='counter'></p>
    </div>
  </div>

  <div class='row'>
    <div id='greeting-text' class='col-12 center'>
    {{greetedNames}} 
    
    <div>{{counter}}</div>
    </div>
    </form>
  </div>