  <div class=row>
    <div class=col-12>
      <h1 class="col-12 center">GREETING</h1>
    </div>
  </div>
  <div class='row'>
    <form action="/greeting" method="POST" >
    <div class='col-12 center'>
      <h1> Name: <input type="text" name="personsName" class="personsName" value="" placeholder="Enter your name here"></h1>

      <span><input type="radio" class="myLang" name="myLang" value="isiXhosa"> isiXhosa</span>

      <span> <input type="radio" class="myLang" name="myLang" value="English"> English</span>

      <span> <input type="radio" class="myLang" name="myLang" value="Afrikaans"> Afrikaans</span>
      
      <br> <br> <input type="submit" class="greetBtn" value="Greet!">
    </div>
  </div>

  <div class='row'>
    <div class='greeting-text col-12 center'>
  <b style="color: blue"> {{messageDisplay}} </b>
    <div class="info">
    <h5> {{messages.info}}</h5>
</div>
 <a style="color:rgb(255, 0, 128)" href="/greeted">Greeted Names:</a> {{counter}}
    </div>
    </form>
  </div>